<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
    <link rel="stylesheet" href="./css/style.css">
    <title>Download</title>
</head>
<body>
    <div class="navigation">

       <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/trade">
                <img src="/images/Logo (1).png" width="30" height="30" class="d-inline-block align-top" alt="">
                Stock Buddy
            </a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/export">Export to Excel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Logout</a>
                    </li>
                    </li>
                </ul>
            </div>
            <button class="btn" onclick="togglePopup()"><i class="fa fa-plus"></i></button>
        </nav>


    </div>
    <h1>Thank You For Downloading!!</h1>
    <h3>File is downloaded in root folder</h3>
    {{>footer}}
</body>
</html>